.Header {
  width: 100%;
  height: var(--header-hight);
  background: #0a0a0a;
  border-top: 10px solid var(--green);
  font-family: var(--program-font);
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    margin: 0;
    padding: 0;
  }
  a {
    color: white;
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 2.4rem;
    }
  }
}
