.Hero {
  display: grid;
  place-items: center;
  width: 100%;
  /* height: calc(100vh - var(--header-hight)); */
  height: 100vh;
  position: relative;
  box-shadow: 0px 14px 38px 7px rgba(0, 0, 0, 0.2);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black);
    opacity: 0.5;
  }
}
.heroText {
  margin: 0;
  padding: 0;
  color: white;
  z-index: 6;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 8rem;
    margin: 0;
  }
  p {
    font-size: 2.4rem;
    align-items: center;
    text-align: center;
  }
}
.logo {
  display: inline-block;
  background-image: url('/static/react.svg');
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}
.subtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgImage {
  position: relative;
}
