.ListOfProjects {
  min-height: 100vh;
  background-color: var(--black);
  padding: calc(var(--header-hight) + 2rem) 0;
  box-shadow: 0px -14px 38px 7px rgba(0, 0, 0, 0.2);
  h2 {
    letter-spacing: 1rem;
    font-size: 4rem;
    margin: 0;
    text-align: center;
    color: var(--green);
    border-bottom: 5px solid var(--green);
    padding-bottom: 2rem;
  }
}
.description {
  font-size: 1.6rem;
  line-height: 2;
  margin: 4rem 0;
  font-weight: 600;
  color: white;
  text-align: justify;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}
