:root {
  --header-hight: 8rem;
  --green: #0b7a75;
  --gray: #f3f3f3;
  --black: #0a0a0a;
  --program-font: 'Roboto Mono', monospace;
  --normal-font: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--normal-font);
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 3.6rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

@font-face {
  font-family: 'brands';
  src: url('/fonts/fa-brands-400.woff2');
}
@font-face {
  font-family: 'icon-solid';
  src: url('/fonts/fa-solid-900.woff2');
}
